
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.main-container {
  padding: 0;
  overflow: hidden;
}

/* My Custom Written Styles */

.specifictd {
    max-width:350px;  /* adjust to desired wrapping */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.trending {
  background-color: #ffd8b2 !important;
}

.hot {
  background-color: #ffbf7f !important;
}

.f5oclock {
  background-color: #ffa64c !important;
}

.btn {
    display: inline-block;
    padding: 0; !important
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-box {
  width: 20px;
  height: 20px;
  padding-right: 2px;
  float: left;
}

/* Sticky footer styles */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.container .text-muted {
  margin: 20px 0;
}
